<div id='footer'>
    <div id='footer-main'>
      <div id='footer-contact'>
        <a href="https://github.com/is0xjh25" target="_blank">GitHub: is0xjh25</a>
        <a href="mailto: is0.jimhsiao@gmail.com">Email: is0.jimhsiao@gmail.com</a>
        <a href="https://linkedin.com/in/yunchi-hsiao/" target="_blank">Linkedin: Yun-Chi Hsiao</a>
      </div>
      <div id='footer-info'>
		<%= image_tag "favicon_io.png", alt: "Favicon", id:'footer-favicon' %>
        <a href="https://is0xjh25.github.io" target="_blank" id='footer-copyright'>Copyright © 2022 is0xTeamTask, is0xjh25</a>
      </div>
    </div>
</div>