<div id='navbar'>
	<div class="left-section">
		<h1 style="display:inline-block; margin-right:5px;">is0xTeamTask</h1>
		<span><b>Developed By </b><a href="https://is0xjh25.github.io" target="_blank">is0xjh25</a></span>
	</div>
	<div class="right-section">
		<h1 style="display:inline-block; margin-right:15px"><%= link_to "HOME", root_path %></h1>
		<h1 style="display:inline-block; margin-right:15px"><%= link_to "TASK", tasks_path %></h1>
		<h1 style="display:inline-block; margin-right:15px"><%= link_to "MEMBER", members_path %></h1>
	</div> 
</div>
